.App {
  text-align: center;
  font-size: 20px;
}

.App-header {
  background-image: linear-gradient(to top right, #e30053 , #f25900);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button, input {
  background-color: white;
  margin: 10px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  padding: 5px;
}

h2 {
  color: blue;
}

#match-button {
  right: 0;
}

.profile {
  background-color: white;
  padding: 5%;
  margin: 3%;
  width: 60vw;
  border-radius: 10px;
}

.name {
  color: black;
  font-size: 30px;
  margin: 10px;
}

.profile p {
  color: black;
  text-align: left;
}

.subtitle {
  font-weight: 600;
  font-size: 20px;
}

.profile li, a {
  text-align: left;
  color: #888888;
  font-size: 15px;
}

.subsection, .button-section {
  column-count: 3;
  margin-bottom: 25px;
  align-items: center;
}

.info {
  border: solid #888888 1px;
  border-radius: 40px;
  color: #888888;
  padding: 5px;
  font-size: 15px;
}

.button {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  padding: 5%;
  font-size: 30px;
  margin: auto;
  background-color: white;
  
}

#swipe-left {
  border: #e30053 solid 3px;
  color: #e30053;
}

#superlike {
  border: #20b0f7 solid 3px;
  color: #20b0f7;
}

#swipe-right {
  border: #00eb8d solid 3px;
  color: #00eb8d;
}

.match-title {
  color: #e30053;
  font-weight: 700;
  font-size: 20px;
  text-align: left;
}